/.vscode
/node_modules
/patriot
/paradigm
/rover
/drawer
/files
/weights
/routes/patriot.js
/campaign
/flamechat
/dump
interpol.json
blacklist.txt
log.txt
suspicious.log
server.key
server.pem
.DS_Store